.desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #827879;
  overflow: hidden;
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #5e5752;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.left {
  display: flex;
  gap: 8px;
}

.button {
  background-color: #3c3b3a;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.button:active {
  border: 2px inset #fff;
}

.clock {
  font-family: var(--font-retro);
  font-size: 0.9rem;
}

.icons {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.icon {
  width: 80px;
  height: 80px;
  text-align: center;
  position: absolute;
  user-select: none;
  cursor: pointer;
  transition: left 0.2s ease, top 0.2s ease;
}

.icon.no-transition {
  transition: none !important;
}

.no-transition {
  transition: none !important;
}

.icon:active {
  cursor: grabbing;
}

.icon img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 8px auto;
}

.icon span {
  color: white;
  font-size: 12px;
}

.desktopArea {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
}

.window {
  width: 500px;
  height: 400px;
  background: white;
  border: 1px solid #aaa;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 6px;
  overflow: hidden;
}

.windowHeader {
  height: 30px;
  background: #0078d4;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  cursor: move;
}

.windowContent {
  padding: 10px;
  height: calc(100% - 30px);
  overflow: auto;
}

